* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#titolo{
    text-align: center;
    font-size: xx-large;
    margin-top: 25px;
    margin-bottom: 45px;
    font-weight: 800;
    color: rgb(229, 49, 112);
}

#intro{
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    margin-bottom: 50px;
}

main {
    text-align: center;
    margin-top: 30px;
}

.container{
    width: 65%;
    margin: 0 auto;
}

.tessera {
    border: 1px solid #dcdcdc;
    width: 30%;
    float: left;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 30px;
    -webkit-box-shadow: -1px -1px 15px 5px #D1D1D1; 
    box-shadow: -1px -1px 15px 1px #D1D1D1;
    background-color: rgb(15, 14, 23);
    color: white;
    margin-bottom: 45px;
}

.tessera img {
    width: 30%;
    float: left;
} 

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  a{
    color: rgb(16, 175, 227);
    text-decoration: none;
  }

  .tessera div{
    float: left;
  }

  .tessera h2 {
    text-transform: uppercase;
    font-size: initial;
    font-weight: 800;
  }

  .tessera span {
    margin-top: 7px;
    margin-left: 15px;
    display: block;
  }